<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>系统菜单权限</title>

</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow: hidden">
    <div style=" overflow:scroll; width:96%; height:600px;">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>权限</th>
                </tr>
                <tr th:each="menu,menuStat:${menulist}" th:class="${menuStat.odd}?'odd':'even'">
                    <td th:text="${menu.menuId}"></td>
                    <td th:text="${menu.menuName}"></td>
                    <td th:text="${menu.perms}"></td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>
